{% extends 'posts/base.html'%} {% block title %} {{ post.title_tag }}
{%endblock%} {% block content %}
<h1>{{ post.title }}</h1>
<small
  >By: {{ post.author.first_name }} {{ post.author.last_name }} -
  <a href="{% url 'update-post' post.pk %}">(edit)</a>
  <a href="{% url 'delete-post' post.pk %}">(delete)</a>
  <br />

  Published At: {{ post.created_at }}
  <br />
  Edited At: {{ post.updated_at }}
</small>
<br />

<br />
<hr />
{{ post.body }}

<br />
<br />
<a href="{% url 'home' %}" class="btn btn-secondary">back</a>
{% endblock %}
